#Title
{
    position: relative;
    text-align: center;
}

#score
{
    position: relative;
    
}

.grid
{
    margin:1em auto; 
    border-collapse:collapse 
}

.grid td 
{
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked 
{
    background-color:green;
    font-weight:bold; color:red;
}

#canvas1
{
    border:2px solid #999;
    background-color:rgb(255, 255, 255);
}

