#Title
{
    position: relative;
    text-align: center;
}

#myCanvas
{
    margin-top: 130px;
    border:4px solid #000000;
}

#game
{
    margin-top: 130px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
